body {
  text-align: center;
  justify-content: center;
  width: 100%;
}

h1, h2, h4 {
  text-align: center;
}

form {
  display: flex;
  flex-flow: column;
  align-content: center;
}

.dashboard {
  align-content: center;
  justify-content: center;
  text-align: center;
}

body {
    background-color: #cc338b;}

.add-ticket a {
  display: flex;
  text-decoration: none;
  color: white;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.add-ticket {
    display: flex;
    text-align: center;
    text-decoration: none;
    background: #444;
    color: white;
    width: 160px;
    height: 80px;
    border-radius: 4px;
    justify-content: center;
    padding: 15px;
    align-items: center;
    margin: 15px 15px 15px 150px;
    font-size: 1.6rem;
}

img {
  opacity: 0.4;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
}

button {
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 8px;
}

.ticket-card {
  display: flex;
  flex-flow: column wrap;
  background: #222;
  border-radius: 4px;
  border: 2px solid #aaa;
  color: whitesmoke;
  height: 160px;
  text-align: center;
  justify-content: center;
  opacity: 0.8;
  margin: 20px 145px 20px;
}

.delete-btn {
  width: 80px;
  height: 45px;
  border-radius: 8px;
  background: darkred;
  color: white;
  margin: 20px;
}

.ticket-list {

}